[itemselect]{
  padding: 5px 0;
  border-bottom: 1px solid var(--neutral-5);
}

[itemselect] > *:not(:first-child):not(div){
  margin-left: 20px;
}

[itemselect]:first-child:last-child > [removeitem]{
  visibility: hidden;
}

.align-left{
  text-align: left;
}

#calculate-summary{
  float: right;
}

#step2{
  max-height: max(calc(100vh - 120px), 600px);
  height: max(calc(100vh - 120px), 600px);
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.tabs{
  flex: 1 1 0;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

#step2[disabled] > *{
  display: none;
}

.tab-content-wrapper{
  flex: 1 1 0;
  display: flex;
  align-items: stretch;
  height: 100%;
  padding: 10px;
}

#inefficient-wrapper{
  border: 1px solid var(--neutral-6);
  border-radius: 4px;
  background: white;
  box-sizing: border-box;
}

#inefficient-nodetree{
  flex: 0 0 auto;
  resize: horizontal;
  border-right: 1px solid var(--neutral-6);
  overflow: auto;
  white-space: nowrap;
  position: relative;
  padding-right: 20px;
  width: 350px;
}

#inefficient-nodetree::after{
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 2px;
  border-left: 1px solid var(--neutral-6); 
}

#inefficient-preview{
  flex: 1 1 0;
  padding-left: 20px;
}

#inefficient-placeholder > .tree-node{
  background: var(--neutral-1);
  padding: 10px;
  border: 1px solid var(--neutral-6);
  border-radius: 4px;
}

#efficient-table,
#efficient-table th,
#efficient-table td{
  border: 1px solid var(--neutral-6);
  border-radius: 4px;
  background: var(--neutral-1);
  border-collapse: collapse;
  padding: 2px 10px
}

#efficient-table th:nth-child(2n+1),
#efficient-table td:nth-child(2n+1){
  text-align: center;
}

#efficient-table th:nth-child(2n),
#efficient-table td:nth-child(2n){
  text-align: right;
}

.item-select{
  width: 210px;
}

.item-multiply{
  width: 75px;
}

.item-quick-rate{
  padding: 10px 5px 5px 5px;
}

.tab-headers{
  border-bottom: 1px solid var(--neutral-6);
  display: flex;
  align-items: stretch;
}

.tab-header{
  padding: 10px 8px;
  margin: 0 10px;
}

.tab-header:first-child{
  margin-left: 20px;
}

.tab-header:last-child{
  margin-right: 20px;
}

.tab-header[active]{
  font-weight: 600;
  border-bottom: 1px solid var(--neutral-6);
}

.tab-contents{
  flex: 1 1 0;
  padding-top: 20px;
  overflow: hidden;
}

.tab-content{
  height: 100%;
  flex: 1 1 0;
  display: none;
}

.tab-content[active]{
  display: block;
}
